<div [formGroup]="form()">
  <p-stepper [(value)]="activeStep" [linear]="false">
    <p-step-item [value]="1">
      <p-step>
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <kc-icon-step (activated)="activateCallback()" icon="pi-calendar" [activeStep]="activeStep" [value]="value" />
        </ng-template>
      </p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <div class="py-6">
            <div class="flex flex-col gap-2 mb-10">
              <h3 class="text-2xl">Name your budget</h3>
              <p class="m-0 p-0 text-gray-400">Give your budget a name to begin. You can change this at any time.</p>
            </div>
            <div class="flex flex-col gap-1">
              <label for="budgetName">Budget Name</label>
              <input pInputText id="budgetName" placeholder="October" formControlName="budgetName" />
            </div>
            <p-button [disabled]="form().controls.budgetName.invalid" styleClass="mt-8" label="Next" (onClick)="activateCallback(2)" />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>

    <p-step-item [value]="2">
      <p-step>
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <kc-icon-step (activated)="activateCallback()" icon="pi-plus-circle" [activeStep]="activeStep" [value]="value" />
        </ng-template>
      </p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <div class="py-6">

          <div class=" flex flex-col gap-2 mb-10">
            <h3 class="text-2xl">Add your income</h3>
            <p class="m-0 p-0 text-gray-400">
              Split your income into special buckets such as paycheck 1/2, paycheck 2/2,
              pressure washing business, and cleaning business.
            </p>
          </div>
            <kc-spending-bucket-array-input [spendingBucketFormArray]="form().controls.incomeSpendingBuckets" />
          <div class="flex gap-2 mt-6">
            <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" />
            <p-button [disabled]="form().controls.incomeSpendingBuckets.invalid" label="Next" (onClick)="activateCallback(3)"/>
          </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>


    <p-step-item [value]="3">
      <p-step>
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <kc-icon-step (activated)="activateCallback()" icon="pi-minus-circle" [activeStep]="activeStep" [value]="value" />
        </ng-template>
      </p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <div class="py-6">

            <div class=" flex flex-col gap-2 mb-10">
              <h3 class="text-2xl">Add your expenses</h3>
              <p class="m-0 p-0 text-gray-400">
                Split your expenses into special buckets such as groceries,
                insurance, mortgage/rent, and entertainment.
              </p>
            </div>
            <kc-spending-bucket-array-input [spendingBucketFormArray]="form().controls.expenseSpendingBuckets" />
            <p
              class="-mt-7 p-0 mb-6"
              [ngClass]="{
                  'text-emerald-300': !expenseComparison().invalid,
                  'text-red-400': expenseComparison().invalid
               }"
            >Remaining: {{expenseComparison().value | currency}}</p>
            <div class="flex gap-2 flex-row">
              <p-button label="Back" severity="secondary" (onClick)="activateCallback(2)" [disabled]="formSubmitting()" />
              <p-button
                [disabled]="form().controls.expenseSpendingBuckets.invalid || form().invalid || formSubmitting()"
                label="Finish"
                [icon]="formSubmitting() ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
                severity="success"
                (click)="submitBudget(activateCallback)"/>
            </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>
    <p-step-item [value]="4">
      <p-step>
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <kc-icon-step (activated)="activateCallback()" icon="pi-file-import" [activeStep]="activeStep" [value]="value" />
        </ng-template>
      </p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <div class="py-6">
            <div class=" flex flex-col gap-2">
              <p-message class="mb-2" severity="success">Success! Your budget has been created.</p-message>
              <h3 class="text-2xl">Get started faster</h3>
              <p class="m-0 p-0 text-gray-400">
                Automatically import transactions from your bank accounts.
                Your transactions will automatically appear in your budget.
              </p>
              <p class="mt-4 p-0 text-gray-400">
                Click "Go to budget" below to skip importing your transactions.
                You can import your transactions later.
              </p>
            </div>
            <div class="mt-4">
              <p-fileupload
                [fileLimit]="5"
                [multiple]="true"
                name="files"
                accept=".ofx"
                mode="advanced"
                [showUploadButton]="false"
                [showCancelButton]="false"
                [auto]="true"
                [withCredentials]="true"
                [url]="uploadUrl"
                [headers]="headers"
              >
                <ng-template #empty>
                  <div class="py-5">Drag and drop your exported transaction files here.</div>
                </ng-template>
              </p-fileupload>
            </div>
            <div class="flex gap-2 mt-10">
              <p-button label="Go to budget" icon="pi pi-check" severity="success"/>
            </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>
  </p-stepper>
</div>
