<kc-list-with-actions title="Transactions" >
  <ng-container actions>

  @if (!isEditing()) {
    @if (transactionItems().length > 0) {

    <p-button
      (onClick)="isEditing.set(true)"
      label="Edit"
      variant="outlined"
      size="small"
      icon="pi pi-pencil" />
    }
    <p-button
      (onClick)="addTransactionClicked()"
      label="Add"
      variant="outlined"
      size="small"
      severity="info"
      icon="pi pi-plus"  />
  } @else {
    <p-button
      (onClick)="reset()"
      label="Cancel"
      variant="outlined"
      size="small"
      icon="pi pi-times"
      severity="danger"  />
    <p-button
      label="Save"
      variant="outlined"
      size="small"
      icon="pi pi-check"
      severity="success"
      (onClick)="deallocateTransactions()"
    />
  }
  </ng-container>

  <kc-item-list [items]="transactionItems()">
    <ng-template #itemAfterTemplate let-item>
      @if (isEditing()) {
        <kc-allocated-actions
          [item]="item"
          (spendingTransactionAdded)="markToRemove($event)"
          (spendingTransactionRemoved)="unassignMarkToRemove($event)"
        />
      }
    </ng-template>
  </kc-item-list>
</kc-list-with-actions>
