<div class="flex flex-col gap-1 w-full">
  <label [for]="controlId">{{ label() }}</label>
  @if (control()) {
    <p-fluid>
      <input fluid class="w-full" pInputText [id]="controlId" [placeholder]="placeholder()" [formControl]="control()!" size="small" />
    </p-fluid>
  } @else {
    <ng-content></ng-content>
  }
    @if (control()?.valid || isValid()) {
      <small class="text-gray-500">
        <ng-content select="[kc-hint]"></ng-content>
      </small>
    }
    @if (control()?.invalid || !isValid()) {
      <small class="text-red-400">
        <ng-content select="[kc-error]"></ng-content>
      </small>
    }
</div>
