<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-3">
    @if (!didNotMakeTotal()) {
      <div class="flex flex-col gap-3">
        @switch (incomeRecordingState()) {
          @case(IncomeRecordingState.Start) {
            <p class="text-gray-400">Have you received income for {{selectedSpendingBucket()?.name ?? 'this item'}}?</p>
            <div class="flex gap-3">
              <p-button (onClick)="recordIncome(0)" label="I will not be paid"  severity="secondary"  size="small" />
              <p-button (onClick)="incomeRecordingState.set(IncomeRecordingState.Planned)" label="I have been paid" severity="success" size="small" />
            </div>
          }
          @case(IncomeRecordingState.Planned) {
            <p class="text-gray-400">Were you paid the planned amount?</p>
            <div class="flex gap-3">
              <p-button (onClick)="incomeRecordingState.set(IncomeRecordingState.AmountEntry)"  label="No"  severity="secondary"  size="small" />
              <p-button (onClick)="recordIncome(selectedSpendingBucket()?.total)" label="Yes" severity="success" size="small" />
            </div>
          }
          @case (IncomeRecordingState.AmountEntry) {
            <p class="text-gray-400">Enter the amount you were paid.</p>
            <kc-form-control label="Amount paid">
              <p-inputnumber
                [formControl]="amountControl"
                inputId="locale-user"
                mode="currency"
                currency="USD"
                placeholder="Income amount"
              ></p-inputnumber>
            </kc-form-control>
            <p-button (onClick)="recordIncome(amountControl.getRawValue())"  label="Save" icon="pi pi-check"  severity="success" size="small" />
          }
        }
      </div>
    } @else {
      <p-button
        label="Save"
        icon="pi pi-check"
        variant="outlined"
        severity="success"
        size="small"
      />
    }
  </div>
</div>
