@defer (when !loading()) {
  <kc-data-card-with-item-list
    [itemList]="spendingBucketItemList()"
  >
    <ng-template #valueTemplate let-item>
      <div class="flex gap-2">
        <kc-total-text [total]="item.total" text="Total" severity="info" size="md"/>
        <kc-total-text [total]="item.value" text="Remaining" size="md" />
      </div>
    </ng-template>
  </kc-data-card-with-item-list>
} @placeholder (minimum 1000ms) {
  <div class="h-full">
    <kc-spinner [fullScreen]="false" label="Loading your budget..." />
  </div>
}

<kc-drawer [(visible)]="showSelectedSpendingBucket">
  <kc-selected-spending-bucket
    (reload)="loadBudget()"
    [budgetDateRange]="budgetDateRange"
    [spendingBucketId]="+(selectedSpendingBucket()?.id ?? 0)"
    [resetContent]="!showSelectedSpendingBucket()" />
</kc-drawer>

<ng-template #pageTemplate>
  @if (budget()) {
    <div class="flex w-full ml-2 gap-2 items-end flex-wrap sm:flex-nowrap">
      <kc-total-text [column]="false" [total]="budget()?.amount || 0" text="Total" severity="info" />
      <kc-total-text [column]="false" [total]="budget()?.remaining || 0" text="Remaining" />
      @if (unallocated() > 0) {
        <kc-total-text [column]="false" [total]="unallocated()" text="Not budgetted" severity="default" />
      }
    </div>
  }
</ng-template>
