@if (selectedSpendingBucket()) {
  <div class="flex flex-col gap-10 overflow-hidden h-full">
    <div class="flex justify-between">
      <div>
        <h3 class="text-2xl">{{selectedSpendingBucket()?.name}}</h3>
        <p class="m-0 p-0 text-gray-400">{{selectedSpendingBucket()?.category}}</p>
      </div>
      <div class="flex gap-4 flex-wrap">
        <div>
          <kc-total-text [total]="selectedSpendingBucket()?.total || 0" text="Planned" severity="info" />
        </div>
        <div>
          <kc-total-text [total]="remainingBudgetAmount() || 0" text="Remaining" [severity]="remainingBudgetAmount() > 0 ? 'success' : 'danger'" />
      </div>
      </div>
    </div>
    <div class="flex flex-col overflow-y-auto">
      <div class="flex justify-between items-center">
        <h5 class="text-lg text-gray-400">{{ existingTransactionView() ? 'Transactions' : 'Add or create transactions' }}</h5>
        <div class="flex gap-2 pb-2">
        @if (existingTransactionView()) {
          <p-button label="Edit" variant="outlined" size="small" icon="pi pi-pencil"/>
        }
        <p-button
          (click)="transactionAction()"
          [label]="existingTransactionView() ? 'Add' : 'Save'"
          [icon]="existingTransactionView() ? 'pi pi-plus' : 'pi pi-check'"
          [severity]="existingTransactionView() ? 'info' : 'success'"
          size="small"
          variant="outlined" />
        </div>
      </div>
      <div class="overflow-y-auto">
        @if (existingTransactionView()) {
          <kc-item-list [items]="transactions()" />
        } @else {
          <kc-item-list [items]="unallocatedTransactionsListItems()">
            <ng-template #itemAfterTemplate let-item="item">
              <kc-transaction-actions (spendingTransactionAdded)="spendingBucketTransactionAdded($event)" (spendingTransactionRemoved)="spendingBucketTransactionRemoved($event)" [item]="item" />
            </ng-template>
          </kc-item-list>
        }
      </div>
    </div>
  </div>
} @else {
  <kc-spinner [fullScreen]="false" />
}
