<kc-list-with-actions title="Add or create transactions">
  <ng-container actions>
    <p-button
      label="Cancel"
      icon="pi pi-times"
      variant="outlined"
      severity="danger"
      size="small"
      (onClick)="cancel()"
    />
    <p-button
      label="Save"
      icon="pi pi-check"
      variant="outlined"
      severity="success"
      size="small"
      (onClick)="createTransactions()"
    />
  </ng-container>
  <kc-item-list [items]="unallocatedTransactionsListItems()">
    <ng-template #itemAfterTemplate let-item>
      <kc-unallocated-transaction-action
        (spendingTransactionAdded)="spendingBucketTransactionAdded($event)"
        (spendingTransactionRemoved)="spendingBucketTransactionRemoved($event)"
        [item]="item"/>
    </ng-template>
  </kc-item-list>
</kc-list-with-actions>
