<p-data-view #dv [value]="transactions()">
  <ng-template #list let-items>
    <div class="w-full flex flex-col overflow-y-auto">
      @for (transaction of items; track transaction.id; let first = $first) {
        <div class="flex justify-between items-center gap-2 p-5 px-0 md:px-5"
             [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">
          <div class="flex items-center gap-4">
            <p-avatar [label]="transaction.name[0]" size="normal" />
            <div class="flex flex-col gap-0 5">
              <h4>{{transaction.name}}</h4>
              <p class="m-0 p-0 text-sm text-gray-400">{{ getTransactionSubTitle(transaction) }}</p>
            </div>
          </div>
          <div>
            <span class="text-nowrap">{{transaction.amount | currency}}</span>
          </div>
        </div>
      }
    </div>
  </ng-template>
</p-data-view>
